@use "/src/styles/mixins" as *;
@use "/src/styles/variables" as *;

.widgetHolderWrapper {
	padding: 6px;
	flex: 1;
	overflow: auto;
	.widgetHolder {
		display: flex;
		align-items: center;
		gap: 16px;
		flex-wrap: wrap;
		.widget {
			flex: 1;
			max-width: 350px;
		}
		.fixedSizeWidget {
			flex: 0;
		}
	}
}
