@use "/src/styles/variables" as *;
@use "/src/styles/mixins" as *;

.clock {
	@include font-poppins;

	color: $clockColor;

	font-size: 56px;
	font-weight: 800;
	width: auto;

	.meridiem {
		@include font-inter;

		font-style: bold;
		font-size: 24px;
	}
}
