@use "/src/styles/mixins.scss" as *;
@use "/src/styles/variables.scss" as *;

.modalContent {
	flex: 1;
	display: flex;
	flex-direction: column;
	color: $modalTextColor;
	gap: 12px;
	padding-top: 8px;
	.formInputHolder {
		display: inline-flex;
		align-items: end;
		

		font-weight: 600;
		label {
			width: 90px;
			font-weight: 600;
		}
		input {
			flex: 1;
			height: 30px;
			border-radius: 8px;
			border: none;
			background-color: $modalButtonTextColor;
			color: $modalButtonColor;
			padding: 0 8px;
			font-weight: 600;
			&:focus {
				outline: none;
			
			}
		}
	}
	.modalFooter {
		width: 100%;
		padding-top: 18px;
		display: inline-flex;
		justify-content: end;
		gap: 10px;
		button {
			font: 1.2em sans-serif;
			font-weight: 800;
			background-color: $modalButtonColor;
			color: $modalButtonTextColor;
			padding: 8px 16px;
			border-radius: 6px;
		}
	}
}
