@use "/src/styles/variables" as vars;
@use "/src/styles/mixins" as mixins;

.bookmarkWidget {
	@include mixins.font-inter;
	position: relative;
	color: vars.$widgetTextColor;
	padding: 0 20px;
	height: vars.$widgetHeight;
	width: 100%;

	border-radius: vars.$widgetBorderRadius;
	background-color: vars.$widgetBackground;

	display: flex;
	align-items: center;
	gap: 10px;
	
	cursor: pointer;
	.faviconHolder {
		border-radius: 50%;
		overflow: hidden;
		display: grid;
		place-items: center;
		background-color: vars.$widgetImageHolderColor;
		.favicon {
			--size: 52px;
			padding: 12px;
			width: var(--size);
			height: var(--size);
			filter: contrast(1.1);
		}
	}

	.nameWrapper {
		
		flex: 1;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		font-size: 18px;
		font-weight: 800 !important;
	}

	.button {
		$size: 22px;

		position: absolute;
		padding: 5px;
		height: $size;
		width: $size;

		border-radius: 100%;
		background: vars.$primaryColor;

		display: flex;
		align-items: center;
		justify-content: center;
	}
	.deleteButton {
		top: -8px;
		right: -8px;
	}
	.editButton {
		bottom: -8px;
		right: -8px;
	}
}

@media (max-width: 600px) {
	.bookmarkWidget {
		padding: 0 8px;
		height: calc(vars.$widgetHeight * 0.8);

		.faviconHolder {
			.favicon {
				--size: 42px;
				padding: 10px;
			}
		}

		.nameWrapper {
			font-size: 18px;

		}

		.button {
			$size: 20px;
			height: $size;
			width: $size;
		}
	}
}
